:root {
  --main-red: #be3144;
  --main-white: #f0f0f0;
  --main-blue: #45567d;
  --main-gray: #303841;
  --x:0;
  --y:0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-red);
  z-index: 10;
  box-shadow: 0 2px 0 black;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background-color: var(--main-blue);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--main-gray);
  position: relative;
}

.about::before {
  background: radial-gradient(
    1000px circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.15),
    transparent 50%
  );
  position: absolute;
  content: "";
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  border-radius: inherit;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms ease;
}

.about:hover::before {
  opacity: 1;
}

.about p {
  font-size: 3rem;
  font-weight: 100;
  color: var(--main-red);
  font-style: italic;
}

#trailer{
  height: 20px;
  width: 20px;
  background-color: var(--main-red);
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100000;
  pointer-events: none;
  opacity: 0;
}

.works:hover #trailer{
  opacity: 1;
}

.works {
  text-align: center;
  padding: 10rem 2rem;
  background-color: var(--main-blue);
}

.work-header {
  max-width: 530px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.work-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.work {
  background-color: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.work-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.image{
  height: calc(100% - 6.8rem);
  width: 100%;
  transition:  background-size 0.5s ease;
  background-size: 120%;
}
.image:hover{
  background-size: 125%;
}